@use "../../styles/globalVariables" as gv;

.container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: gv.$font-size-large;
  font-family: gv.$BubbleGumRegular;
  color: gv.$Red;
}

.timerTitle {
  padding-right: 1rem;
}

.submitButton, .backButton {
  margin-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: gv.$Yellow;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
}

.submitButton:hover,.backButton:hover {
background-color: gv.$Red;
transform: scale(1.1);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.difficultySelector{
  background-color: transparent;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
}

.dropBtn {
  color: black;
  background-color: gv.$Yellow;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
  border: none;

  &:hover{
    background-color: gv.$Red;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.dropdownContent {
  color: black;
  background-color: gv.$Yellow;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
  border: none;
}

.dropdownOption:hover{
      background-color: gv.$Red;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkbox {
  @apply appearance-none w-16 h-8 bg-gray-400 rounded-full relative cursor-pointer transition-all;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gv.$VeryLightBlue;
    border-radius: 999px;
    transition: background-color 0.3s ease;
  }

  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: gv.$Red;
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  &:checked {
    &::before {
      background-color: gv.$VeryLightBlue;
    }

    &::after {
      left: calc(100% - 30px);
      background-color: gv.$Blue;
    }
  }
}

.alert {
  position: fixed;
  bottom: 20px;
  transform: translateY(-400%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
  background-color: gv.$Red;
  color: white;
  border-radius: 5px;
  width: auto;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 90%;
}

.alert.hidden {
  opacity: 0;
}
