@use "../../styles/globalVariables" as gv;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/jpg/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: fixed;
  overflow: hidden;
  font-family: gv.$BubbleGumRegular;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/jpg/background.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
    transition: transform 0.5s ease-out;
  }
  &.exit::before {
    transform: scale(1.1);
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImg {
  max-width: 8rem;
  max-height: 8rem;
  width: auto;
  height: auto;
  object-fit: contain;
  animation: bounce 2s infinite 5s;
}

.logoName {
  font-size: 5rem;
  color: gv.$Red;
}

.title {
  font-size: gv.$font-size-large;
  color: gv.$Red;
  margin-bottom: 2rem;
}

.submitButton, .backButton {
    background-color: gv.$Yellow;
    width: 15rem;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: gv.$BubbleGumRegular;
    font-size: gv.$font-size-large;
    margin-top: 1rem;
  &:hover{
    background-color: gv.$Red;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
}

.difficultySelector{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
}

.dropBtn {
  color: black;
  background-color: gv.$Yellow;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
  border: none;

  &:hover{
    background-color: gv.$Red;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.difficultyTitle{
  color: black;
  font-size: gv.$font-size-large;
  font-family: gv.$BubbleGumRegular;
  border: none;
}

.dropdownContent {
  color: black;
  background-color: gv.$Yellow;
  font-size: gv.$font-size-medium;
  font-family: gv.$BubbleGumRegular;
  border: none;
}

.dropdownOption:hover{
      background-color: gv.$Red;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert {
  position: fixed;
  bottom: 20px;
  transform: translateY(-400%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
  background-color: gv.$Red;
  color: white;
  border-radius: 5px;
  width: auto;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 90%;
}

.alert.hidden {
  opacity: 0;
}
