@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  background: linear-gradient(to bottom, #2093da, #91e9f2) !important;
  background-image: url("/svg/skylines/skyline-3.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  animation: riseUp 1.5s ease-out forwards;
}

@keyframes riseUp {
  from {
    background-position: 0% 120%
  }
  to {
    background-position: bottom center;
  }
}