.difficulty-selection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bubblegum Sans", sans-serif;
}

.difficulty-selection-title{
    font-size: 25px;
}

.difficulty-button{
    width: 150px; /* Set a specific width for buttons */
    height: 50px; /* Set a specific height for buttons */
    border: none; /* Remove default border */
    color: rgb(255, 255, 255); /* Change text color */
    font-size: 25px; /* Font size for button text */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-size: cover; /* Make background cover the entire button */
    background-position: center; /* Center the background image */
    margin: 10px; /* Add margin between buttons */
    border-radius: 5px; /* Optional: add rounded corners */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transition for hover effects */
    background-color: #000080;
    font-family: "Bubblegum Sans", sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
}

.difficulty-button:hover {
    transform: translateY(-2px); /* Lift the button on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
    background-color:#FFD700;
}

.difficulty-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}