.game-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 70vh;
}

.options {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.user, .points, .question, .message, .option-btn {
    font-family: "Bubblegum Sans", sans-serif;
}

.game-info{
    margin: 0;
    padding: 0;
}

.user{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.points{
    display: flex;
    justify-content: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.exit-game-btn{
    margin-bottom: 10px;
}

.message {
    display: flex;
    justify-content: center;
}

.message{
    font-size: 3vh;
}