@use "../../styles/globalVariables" as gv;

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectLanguage{
    width: 1024px;
    height: 512px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selector{
    width: 400px;
    height: 400px;
    background-color: gv.$Blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: gv.$BubbleGumRegular;
    font-size: gv.$font-size-x-large;
    color: gv.$Red;
    margin-bottom: 2rem;
    text-shadow: 
    1px 1px 0 white,  
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white;
}

.btnEn,
.btnRo {
  width: 150px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: gv.$BubbleGumRegular;
  font-size: gv.$font-size-large;
  text-shadow: 
  1px 1px 0 white,  
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btnEn:hover,
.btnRo:hover {
  transform: scale(1.1);  // Enlarge the button by 10% (1.1 times its size)
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  // Optional: add a subtle shadow for effect
}


.btnRo {
    background: url('/svg/flags/rou.svg') no-repeat center center;
    background-size: cover;
  }
.btnEn {
    background: url('/svg/flags/gbr.svg') no-repeat center center;
    background-size: cover;
    margin-bottom: 1rem;
  }